# yaml-language-server: $schema=https://json.schemastore.org/clangd.json
CompileFlags:
  Compiler: clang
  Add:
    - xc
    - "-std=gnu11"

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict

Completion:
  ArgumentLists: Delimiters
  HeaderInsertion: IWYU
  CodePatterns: All
  MacroFilter: ExactPrefix
